<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.circlecube.articlesoffaith"
        versionCode="300" 
        version   = "0.3.0.0">

    <name>LDS Articles of Faith</name>

    <description>
        An easy to use tool to learn or memorize or rememorize all 13 Articles of Faith of the Church of Jesus Christ of Latter-Day Saints. Review the articles of faith in a clean list view, and quiz yourself on each of them in multiple ways. Quiz presents you words from article of faith scrambled, you select the words in the correct order. Many different levels: all words scrambled, random words scrambled, only long words or short words scrambled, all words with a first letter displayed as a hint... etc. Suggest more levels if you can think of them.
    </description>

    <author href="http://circlecube.com" email="evan@circlecube.com">
        Evan Mullins 
    </author>
    <preference name="phonegap-version" value="3.6.3" />
    <gap:platform name="android" />
    <gap:plugin name="com.adobe.plugins.gaplugin" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="true" />
    <preference name="permissions" value="none"/>
    <icon src="icon-large.png" />
    <gap:splash src="splash.png" />
</widget>